#main{
    display: block;
    margin: auto;
    width: 640px;
    height: 350px;
}
#main img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#slides-container{
    text-align: center;
}
#sub-outter{
    text-align: center;
    display: inline-block;
    overflow: hidden;
    width: 779px;
    height: 150px;
}
#sub{
    
    display: inline-block;
    text-align: center;
}
#sub img{
    display: inline-block;
    text-align: center;
    height: 153px;
    width: 213px;
    object-fit: contain;
}
#outer{
    text-align: center;
}
#inner{
    display: inline-block;
    text-align: left;
}

#inner h2{
    font-family: 'Noto Sans KR', sans-serif;
}

#inner p{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20pt;
}
