<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="logoouter">
        <div id="logoinner">
            <a href="/"><img src="/logo 4500.png" alt="logo" id="logo"></a>

        </div>
    </div>

    <!-- navbar navbar-expand-lg navbar-light bg-ligh -->
    <!-- navbar fixed-top navbar-light bg-light -->
    <nav class="navbar navbar-expand-lg navbar-light bg-ligh" style="background-color: #00BFFF;">
        <!-- #e3f2fd -->
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="/">✝</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link active" href="/about">About</a>
                    <a class="nav-link" href="/memory">Memories</a>
                    <a class="nav-link" href="/contact">Contact</a>

                </div>
            </div>

        </div>
    </nav>
    <br>
    <br>
    <div id="outer">
        <div id="inner">
            <div id="title">
                <h2>숭실일요채플</h2>
                <br>
                <h3>안녕하세요 우리는 숭실일요채플입니다.</h3>
            </div>
            <div id="goto">
                <nav>
                    <ul>
                        <li><a href="#aboutus" class="goto">About us</a></li>
                        <li><a href="#timetable" class="goto">예배시간</a></li>
                        <li><a href="#people" class="goto">섬기는 이들</a></li>
                        <li><a href="#weAre" class="goto">우리 모두 설교자</a></li>
                        <li><a href="#place" class="goto">예배장소</a></li>
                        <li><a href="#online" class="goto">온라인 예배</a></li>
                    </ul>
                </nav>
            </div>
            <br>
            <div id="aboutus" class="small-content">
                <h3>About Us&nbsp<a href="#goto">[위로&uarr;]</a></h3>
                <hr>
                <p>우리는 이런 저런 이유로 모인 공동체, 숭실일요채플입니다.<br>
                    신자들의 공동체가 무엇인지 함께 물으며 나아갑니다.<br>
                    삶의 모습이 많이 바뀌고 내일을 상상하기 어렵지만,<br>
                    삶의 구석구석에 귀 기울이며 오늘을 살아가는 공동체<br>
                    아픔의 신음 소리에, 혐오와 차별 속에, 삶의 구석구석<br>
                    모든 이들에게 예수님의 사랑과 은혜가 꽃으로 피도록<br>
                    숭실일요채플은, 우리가 함께 해야할 모든 이들에게<br>
                    좀 더 가까워지기를, 앞으로 함께 하겠다는 마음으로 나아갑니다. </p>
            </div>
            <br>
            <div id="timetable" class="small-content">
                <h3>예배시간&nbsp<a href="#goto">[위로&uarr;]</a></h3>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>시간</th>
                            <th>일정</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15:30~16:00</td>
                            <td>예배 전 준비</td>
                        </tr>
                        <tr>
                            <td>16:00~17:00</td>
                            <td>예배의 시간</td>
                        </tr>
                        <tr>
                            <td>17:00~</td>
                            <td>함께하는 시간</td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <br>
            <div id="people" class="small-content">
                <h3>섬기는 이들&nbsp<a href="#goto">[위로&uarr;]</a></h3>
                <hr>
                <h4>권연경 목사님</h4>
                <p>이런 저런 이유로 모이는 학우들, 신자들의 중심을 잡아주십니다. <br>
                    은혜로운 설교말씀으로 우리에게 생각할 기회를 주십니다. </p>
            </div>
            <br>
            <div id="weAre" class="small-content">
                <h3>우리 모두 설교자&nbsp<a href="#goto">[위로&uarr;]</a></h3>
                <hr>
                <p>숭실일요채플은 권연경 목사님뿐만 아니라 희망자에 한하여<br>
                    2주에 한 번씩 다른 학우, 성도들에게 설교할 수 있는 기회를 줍니다. <br>
                    숭실일요채플은 하나님의 은혜를 경험한 여러분의 목소리를 기대합니다.</p>
            </div>
            <br>
            <div id="place" class="small-content">
                <h3>예배장소&nbsp<a href="#goto">[위로&uarr;]</a></h3>
                <hr>
                <img src="/place.png" alt="place">
            </div>
            <br>
            <div id="online" class="small-content">
                <h3>온라인 예배&nbsp<a href="#goto">[위로&uarr;]</a></h3>
                <hr>
                <img src="/online.png" alt="online">
            </div>

        </div>

    </div>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; Ahn Young Hoon</p>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted"><i class="fas fa-pray"
                            style="font-size: 24pt;"></i></a></li>
                <li class="nav-item"><a href="https://www.instagram.com/ssuchapel_0627/"
                        class="nav-link px-2 text-muted"><i class="fab fa-instagram" style="font-size: 24pt;"></i></a>
                </li>
                <li class="nav-item"><a href="https://www.youtube.com/channel/UCrphRFl5vjjeR5pNAvi_b0g"
                        class="nav-link px-2 text-muted"><i class="fab fa-youtube" style="font-size: 24pt;"></i></a>
                </li>
            </ul>
        </footer>
    </div>
    <script src="/bootstrap.bundle.min.js"></script>

</body>

</html>