<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/carousel.css">
    <link rel="stylesheet" href="/carousel.rtl.css">
    <link rel="stylesheet" href="/signin.css">
    <link rel="shortcut icon" type="image/x-icon" href="/icon.png">
</head>

<body class="text-center">
    <div class="col-lg-4" style="text-align: center;">
        <img class="bd-placeholder-img rounded-circle" src="/myprofile2.jpg" alt="icon">
        <br>
        <h2>AHN YOUNG HOON</h2>
        <p>관리자 AHN YOUNG HOON 입니다. <br>여기는 관리자 전용 로그인 공간입니다.
            <br>
            <br>좋아하는 음식: 백반집 된장찌개랑 반찬 같이 나오는 제육정식
            <br>싫어하는 음식: 오이가 들어간 김밥
        </p>
        <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
    </div>


    <main class="form-signin">



        <form>

            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <hr>
            <a href="/">
                <button class="w-100 btn btn-lg btn-primary" type="button">Home</button>

            </a>
            <!-- <a href="/">메인으로</a> -->

            <p class="mt-5 mb-3 text-muted">&copy; Ahn Young Hoon</p>
        </form>
    </main>


</body>

</html>