<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memory</title>
    <link rel="stylesheet" href="/memory.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="logoouter">
        <div id="logoinner">
            <a href="/"><img src="/logo 4500.png" alt="logo" id="logo"></a>

        </div>
    </div>

    <!-- navbar navbar-expand-lg navbar-light bg-ligh -->
    <!-- navbar fixed-top navbar-light bg-light -->
    <nav class="navbar navbar-expand-lg navbar-light bg-ligh" style="background-color: #00BFFF;">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="/">SoongSil</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/about">About</a>
                    <a class="nav-link active" href="/memory">Memories</a>
                    <a class="nav-link" href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <div id="outer">
        <div id="inner">
            <h2>Memories</h2>
            <p>우리의 추억들입니다.<br>
            </p>
        </div>
    </div>
    <div id="main"><img src="/christmas.jpg" alt="main" id="mainImg"></div>
    <div id="sub">
        <img src="/christmas.jpg" alt="" class="sub">
        <img src="/mountain.jpg" alt="" class="sub">
        <img src="/manypeople.jpg" alt="" class="sub">
        <img src="/praypose.jpg" alt="" class="sub">
        <img src="/beotimmok.jpg" alt="" class="sub">
        <img src="/selcar.jpg" alt="" class="sub">
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; Ahn Young Hoon</p>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted"><i class="fas fa-pray"
                            style="font-size: 24pt;"></i></a></li>
                <li class="nav-item"><a href="https://www.instagram.com/ssuchapel_0627/"
                        class="nav-link px-2 text-muted"><i class="fab fa-instagram" style="font-size: 24pt;"></i></a>
                </li>
                <li class="nav-item"><a href="https://www.youtube.com/channel/UCrphRFl5vjjeR5pNAvi_b0g"
                        class="nav-link px-2 text-muted"><i class="fab fa-youtube" style="font-size: 24pt;"></i></a>
                </li>
            </ul>
        </footer>
    </div>
    <script src="/memory.js"></script>
</body>

</html>